<!DOCTYPE html>
<html>
  <head>  
    <title>Admin Home</title>  
    <style>
      .username.ng-valid {
          background-color: lightgreen;
      }
      .username.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .username.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }

      .email.ng-valid {
          background-color: lightgreen;
      }
      .email.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: yellow;
      }

    </style>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link rel="stylesheet" href="./css/app.css">
  </head>
  <body ng-app="myApp">
      <div class="generic-container" ng-controller="PasswordController as ctrl">
          <div class="panel panel-default">
          
          <div class="panel-heading" ng-show="passwordSuccessMessage">
              <span class="lead">You have successfully created password.Please <a href="/banking/login">Click Here</a> to Login </span>
              </div>
          
              <div class="panel-heading">
              <span class="lead">Admin Registration Form </span>
              </div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      <div class="row" ng-show="checkFormFirstPage">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="idNumber">Id number</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.passwordForm.idNumber" id="idNumber" class="username form-control input-sm" placeholder="Enter Id number" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.idNumber.$error.required">This is a required field</span>
                                      <span ng-show="myForm.idNumber.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.idNumber.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row" ng-show="checkFormFirstPage">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="salary">Account Number</label>
                              <div class="col-md-7">
                                  <input type="number" ng-model="ctrl.passwordForm.accNo" id="accNo" class="form-control input-sm" placeholder="Enter your Account Number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.accNo.$error.required">This is a required field</span>
                                      <span ng-show="myForm.accNo.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row" ng-show="!checkFormFirstPage">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="password">Password</label>
                              <div class="col-md-7">
                                  <input type="password" ng-model="ctrl.passwordForm.password" id="password" class="username form-control input-sm" placeholder="Enter Password"/>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row" ng-show="!checkFormFirstPage">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="confirmPassword">Confirm Password</label>
                              <div class="col-md-7">
                                  <input type="password" ng-model="ctrl.passwordForm.confirmPassword" id="confirmPassword" class="username form-control input-sm" placeholder="Enter Confirm Password"/>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit" ng-show="checkFormFirstPage"  value="Validate" class="btn btn-primary btn-sm">
                              <input type="submit" ng-show="!checkFormFirstPage"  value="Register" class="btn btn-primary btn-sm">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
  </body>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>  
      <script src="./js/app.js"></script>
      <script src="./js/authInterceptor.js"></script>
      <script src="./js/password_service.js"></script>
      <script src="./js/password_controller.js"></script>
</html>